body, html{
    margin: 0;
}
/* Dark Mode */
.App_dark {
    background-color: #374151;
}

.App_dark #about h4 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3em;
    font-weight: 700;
    /* color: #fafafa; */
    color: #FaFaFa;
    font-size: 20px;
    text-transform: uppercase;
}

.App_dark #console {
    background-color: black;
    color: #00ff00;
}
.App_dark #console .css-typing p:nth-child(1) {
    color: blueviolet;
}

.App_dark #biography {
    background-color: #6F6884;
}

.App_dark #footer {
    background-color: #374151;
    color: #fafafa;
}

.App_dark #divider:before, .App_dark #divider:after {
    border-bottom: 1px solid #fafafa;
}

.App_dark .foot_icon svg {
    fill: #fafafa;
}

/* mobile */
@media only screen and (max-device-width : 430px) {
    .App_light .DK_switch, .App_dark .DK_switch{
        font-size: large;
    }

    .App_light #about h4, .App_dark #about h4  {
        font-size: 16px;
    }

    #work .portfolio-thumb {
        width: 90%;
    }

    .App_light #footer .foot_icon img, .App_dark #footer .foot_icon img {
        width: 20%;
    }
}

/*
1440x900
1336x1440
Ultra wide
*/

@media only screen and (min-device-width: 1920px){
    #work .portfolio-thumb {
        margin: fill;
    }
}
